<!-- Top Bar -->
<div class="u-header__section g-brd-bottom g-brd-gray-light-v4 g-transition-0_3">
  <div class="container">
    <div class="row justify-content-between align-items-center g-mx-0--lg">
      <div class="col-12 col-sm-auto order-sm-2 g-py-5 g-py-20--sm text-center">
        <!-- Logo -->
        <a class="navbar-brand" href="home-page-1.html">
          <img src="../assets/img/logo/logo-1.png" alt="Image Description">
        </a>
        <!-- End Logo -->
      </div>

      <div class="col-6 col-sm-auto order-sm-1 g-pl-0--sm g-py-5 g-py-20--sm">
        <div class="d-inline-block g-valign-middle">
          <div class="g-py-10 g-pr-40">
            <a routerLink="/products" class="g-color-text g-color-black--hover g-color-black--focus g-font-size-16 g-text-underline--none--hover">
              <i class="align-middle mr-2 icon-communication-124 u-line-icon-pro"></i>
              <span class="g-font-size-default g-pos-rel g-top-minus-2">Strona</span>
            </a>
          </div>
          <!-- End Search Form -->
        </div>

        <!-- Search -->
        <!-- <div class="d-inline-block g-valign-middle">
          <div class="g-py-10 g-pr-40">
            <a class="g-color-text g-color-black--hover g-color-black--focus g-font-size-16 g-text-underline--none--hover"
              href="#" aria-haspopup="true" aria-expanded="false" aria-controls="searchform-1"
              data-dropdown-event="hover" data-dropdown-target="#searchform-1" data-dropdown-type="css-animation"
              data-dropdown-duration="300" data-dropdown-animation-in="fadeInUp"
              data-dropdown-animation-out="fadeOutDown">
              <i class="align-middle mr-2 icon-education-045 u-line-icon-pro"></i>
              <span class="g-font-size-default g-pos-rel g-top-minus-2">Szukaj</span>
            </a>
          </div>

          <form id="searchform-1"
            class="u-searchform-v1 u-dropdown--css-animation u-dropdown--hidden u-shadow-v20 g-max-width-400 g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-left-0 g-pa-10">
            <div class="input-group">
              <input class="form-control rounded-0 u-form-control border-0 g-font-size-13 g-py-12" type="search"
                placeholder="Enter Your Search Here...">
              <div class="input-group-addon g-brd-none p-0">
                <button class="btn u-btn-primary g-font-size-12 rounded text-uppercase g-py-12 g-px-15"
                  type="submit">Go</button>
              </div>
            </div>
          </form>
        </div> -->
        <!-- End Search -->
      </div>

      <div class="col-6 col-sm-auto order-sm-3 g-py-5 g-pr-0 g-py-20--sm">
        <!-- Login -->
        <div class="d-inline-block">
          <a class="u-icon-v1 g-color-text g-color-black--hover g-color-black--focus g-font-size-16 g-text-underline--none--hover"
            href="page-login-1.html">
            <i class="icon-finance-067 u-line-icon-pro"></i>
          </a>
        </div>
        <!-- End Login -->

      </div>
    </div>
  </div>
</div>
<!-- End Top Bar -->
