<div class="u-header__section u-header__section--light g-bg-white g-transition-0_3">
  <nav class="js-mega-menu navbar navbar-expand-lg">
    <div class="container">
      <!-- Responsive Toggle Button -->
      <button type="button" class="navbar-toggler navbar-toggler-right btn ml-auto g-line-height-1 g-brd-none g-pa-0"
        aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse"
        data-target="#navBar">
        <span class="hamburger hamburger--slider">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
      </button>
      <!-- End Responsive Toggle Button -->

      <!-- Navigation -->
      <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row">
        <ul class="navbar-nav mx-auto">

          <!-- Produkty Mega Menu Item -->
          <li class="hs-has-mega-menu nav-item g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
            data-animation-out="fadeOut" data-position="right">
            <a routerLink="products" id="mega-menu-label-4" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20" href="#"
              aria-haspopup="true" aria-expanded="false">
              Produkty
              <i class="hs-icon hs-icon-arrow-bottom g-font-size-11 g-ml-7"></i>
            </a>

            <!-- Mega Menu -->
            <div
              class="w-100 hs-mega-menu u-shadow-v11 g-text-transform-none g-brd-top g-brd-primary g-brd-top-2 g-bg-white g-pa-30 g-mt-7"
              aria-labelledby="mega-menu-label-4">
              <div class="row">
                <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                  <!-- Links -->
                  <div class="mb-5">
                    <span class="d-block g-font-weight-500 text-uppercase mb-2">Clothes</span>

                    <ul class="list-unstyled mb-0">
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">New in</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Coats &amp; Jackets</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Jeans</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Dresses</a></li>
                      <li>
                        <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Shorts
                          <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                        </a>
                      </li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Skirts</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">T-Shirts</a></li>
                    </ul>
                  </div>
                  <!-- End Links -->

                  <!-- Links -->
                  <span class="d-block g-font-weight-500 text-uppercase mb-2">Shoes</span>

                  <ul class="list-unstyled">
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Boots</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">FLats</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Heels</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Sandals</a></li>
                  </ul>
                  <!-- End Links -->
                </div>

                <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                  <!-- Links -->
                  <div class="mb-5">
                    <span class="d-block g-font-weight-500 text-uppercase mb-2">Accessories</span>

                    <ul class="list-unstyled mb-0">
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">All accessories</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Bags &amp; Purses</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Scarvs &amp; Hats</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Jewellery</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Fragrance &amp; Beauty</a></li>
                    </ul>
                  </div>
                  <!-- End Links -->

                  <!-- Links -->
                  <div class="mb-5">
                    <span class="d-block g-font-weight-500 text-uppercase mb-2">Lingerie</span>

                    <ul class="list-unstyled mb-0">
                      <li>
                        <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Linger
                          <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                        </a>
                      </li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Slippers</a></li>
                    </ul>
                  </div>
                  <!-- End Links -->

                  <!-- Links -->
                  <span class="d-block g-font-weight-500 text-uppercase mb-2">Nightwear</span>

                  <ul class="list-unstyled mb-0">
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Nightwear</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Socks</a></li>
                  </ul>
                  <!-- End Links -->
                </div>

                <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                  <!-- Links -->
                  <span class="d-block g-font-weight-500 text-uppercase mb-2">Mixed</span>

                  <ul class="list-unstyled mb-0">
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">New in</a></li>
                    <li>
                      <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Coats &amp; Jackets
                        <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                      </a>
                    </li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Jeans</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Dresses</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Shorts</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Skirts</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">T-shirts</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Boots</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Flats</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Heels</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Sandals</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Sports</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Socks</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Tights</a></li>
                  </ul>
                  <!-- End Links -->
                </div>

                <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                  <!-- Links -->
                  <div class="mb-5">
                    <span class="d-block g-font-weight-500 text-uppercase mb-2">Accessories</span>

                    <ul class="list-unstyled mb-0">
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">All accessories</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Bags &amp; Purses</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Scarvs &amp; Hats</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Jewellery</a></li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Fragrance &amp; Beauty</a></li>
                    </ul>
                  </div>
                  <!-- End Links -->

                  <!-- Links -->
                  <div class="mb-5">
                    <span class="d-block g-font-weight-500 text-uppercase mb-2">Lingerie</span>

                    <ul class="list-unstyled mb-0">
                      <li>
                        <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Linger
                          <span class="u-label g-bg-primary rounded g-ml-10">New</span>
                        </a>
                      </li>
                      <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                          href="#">Slippers</a></li>
                    </ul>
                  </div>
                  <!-- End Links -->

                  <!-- Links -->
                  <span class="d-block g-font-weight-500 text-uppercase mb-2">Nightwear</span>

                  <ul class="list-unstyled mb-0">
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Nightwear</a></li>
                    <li><a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-py-5"
                        href="#">Socks</a></li>
                  </ul>
                  <!-- End Links -->
                </div>
              </div>
            </div>
            <!-- End Mega Menu -->
          </li>
          <!-- End Mega Menu Item -->


          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a routerLink="material" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20">Materiał</a>
          </li>

          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a routerLink="blog" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20">Blog</a>
          </li>

          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a routerLink="aboutme" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20">O mnie</a>
          </li>

          <li class="nav-item g-mx-10--lg g-mx-15--xl">
            <a routerLink="contact" class="nav-link text-uppercase g-color-primary--hover g-px-5 g-py-20">Kontakt</a>
          </li>

        </ul>
      </div>
      <!-- End Navigation -->
    </div>
  </nav>
</div>
