<div class="container g-pb-100">
  <div class="g-mb-20 g-mt-30 row">
    <div class="col-6 row g-ml-3">
      <h1 class="g-font-weight-300 g-font-size-24 g-color-black g-mr-10">Nowy produkt</h1>
      <!-- <h1 class="g-font-weight-300 g-font-size-24 g-color-gray-light-v1">{{ categories.length }}</h1> -->
    </div>
    <div class="col-6 g-pr-0" style="text-align: end;">
      <a routerLink="/admin/products"
        class="mr-4 g-color-text g-color-black--hover g-color-black--focus g-font-size-16 g-text-underline--none--hover">
        <i class="align-middle mr-2 hs-admin-close"></i>
        <span class="g-font-size-default g-pos-rel g-top-1">Anuluj</span>
      </a>
      <a routerLink="/products"
        class="g-color-text g-color-black--hover g-color-black--focus g-font-size-16 g-text-underline--none--hover">
        <i class="align-middle mr-2 hs-admin-save"></i>
        <span class="g-font-size-default g-pos-rel g-top-1">Zapisz</span>
      </a>
    </div>
  </div>



</div>
