<!-- Breadcrumbs -->
<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
  <div class="container">
    <div class="d-sm-flex text-center">
      <div class="align-self-center row">
        <h1 class="h3 mb-0 ml-3 mr-2">Produkty</h1>
        <h1 class="g-font-weight-300 g-font-size-24 g-color-gray-light-v1">{{ products.length }}</h1>
      </div>

      <div class="align-self-center ml-auto">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" href="#">Administracja</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span>Produkty</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->

<div class="container g-pb-100">
  <div class="g-mb-10 g-mt-30" style="text-align: right;">
      <a routerLink="/admin/productadd"
        class="g-color-text g-color-black--hover g-color-black--focus g-font-size-16 g-text-underline--none--hover">
        <i class="align-middle mr-2 hs-admin-plus"></i>
        <span class="g-font-size-default g-pos-rel g-top-1">Dodaj produkt</span>
      </a>
  </div>

  <div class="table-responsive">
    <table class="js-editable-table table table-hover u-table--v3 u-editable-table--v1 g-color-black">
      <thead>
        <tr>
          <th style="text-align: left; width: 60%; padding: 10px 20px;">Nazwa</th>
          <th style="text-align: left; width: 40%; padding: 10px 20px;">Kategoria</th>
          <th style="text-align: center; width: 115px; padding: 10px 20px;">Dostępność</th>
          <th style="text-align: center; width: 75px; padding: 10px 20px;">Cena</th>
          <th style="width: 75px; padding: 10px 20px;"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of products">
          <td style="text-align: left;">{{ product.name }}</td>
          <td style="text-align: left;">{{ product.category }}</td>
          <td style="text-align: center;">{{ product.availability }}</td>
          <td style="text-align: center;">{{ product.price }}</td>
          <td>
            <a class="js-edit u-link-v5 g-color-gray-light-v6 g-color-secondary--hover" href="#">
              <i class="hs-admin-pencil"></i>
            </a>
            <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-12"
              href="#">
              <i class="hs-admin-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
